services:
  app:
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tinybase-synchronizer.rule=Host(`tinybase-synchronizer.local.crz.li`)"

networks:
  traefik:
    external: true