services:
  app:
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tinysync.rule=Host(`tinysync.local.crz.li`)"

networks:
  traefik:
    external: true